@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-dark-cocoa: #321e18;
  --color-vision-red: #e03000;
  --color-soft-sand: #e3e3d7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dark-cocoa: var(--color-dark-cocoa);
  --color-vision-red: var(--color-vision-red);
  --color-soft-sand: var(--color-soft-sand);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

.moving-bg {
  background-image: url(/images/bg-sample1.jpg);
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}


@keyframes scroll-left {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

@keyframes scroll-right {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}
